POSTGRES_USER=akadilxbet
POSTGRES_PASSWORD=changeme_strong_password
POSTGRES_DB=akadilxbet_db
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=changeme_redis_password

NATS_PORT=4222
NATS_MONITOR_PORT=8222
NATS_URL=nats://localhost:4222

MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025
SMTP_HOST=localhost
SMTP_PORT=1025

PGADMIN_DEFAULT_EMAIL=admin@akadilxbet.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

API_GATEWAY_PORT=8080
API_GATEWAY_HOST=localhost

AUTH_SERVICE_GRPC_PORT=50051
AUTH_SERVICE_HTTP_PORT=8081
AUTH_SERVICE_HOST=localhost

WALLET_SERVICE_GRPC_PORT=50052
WALLET_SERVICE_HOST=localhost

GAME_ENGINE_GRPC_PORT=50053
GAME_ENGINE_HOST=localhost
JWT_SECRET=changeme_jwt_secret_min_32_chars_long


JWT_EXPIRY_HOURS=24
REFRESH_TOKEN_EXPIRY_DAYS=30

FRONTEND_PORT=3000

NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_APP_ENV=development
